html,body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playwrite DE Grund", cursive;
  background-color: #5755FE;
}
.invalid{
  border-color: #C62E2E;
}
.error{
  color: #C62E2E;
  font-size: small;
  padding: 0.2rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
}
.navbar{
  display: flex;
  top: 0;
  margin: 0;
  padding: 0.5rem;
  width: 100vw;
  align-items: center;
  background-color: #eeeeee36;
  color: #EEEEEE;
}
.logo {
  margin-left: 1rem;
  width: 5rem;
}
.btnContainer{
  margin: 0.2rem;
}
button{
  padding: 0.25rem;
  border: none;
  border-bottom: #F8C794 solid 2px;
  background-color: transparent;
  color: #F8C794;
  font-family: "Playwrite DE Grund", cursive;
  font-weight: bolder;
  
}
button:hover{
  background-color: #f8c8947c;
  border-radius: 5px;
  color: #FFFFFF;
}
button:active{
  transform: scale(0.9);
}
.signOut{
  color: #ff7373;
  border-color: #ff7373;
  font-size: large;
  font-weight: bolder;
}
.signOut:hover{
  background-color: #c24848;
  color: #EEEEEE;
  border: none;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#eeeeee36 ;
  width: 500px;
  margin-top: 5rem;
  padding: 3rem;
  color: #EEEEEE;
  border-radius: 10px;
  
}
.dashboard{
  display: flex;
  justify-content: center;
  background-color:#eeeeee36 ;
  width: fit-content;
  max-width: 90vw;
  min-width: 50vw;
  margin: 1rem;
  padding: 1rem;
  color: #00246B;
  border-radius: 10px;
}
.inputField{
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 30rem;
}
input,textArea{
  border: none;
  background-color: #ffd09b75;
  border-radius: 10px;
  margin-top: 0.5rem;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 1rem;
  color: #000000;
}
.cancel{
  margin-left: 1rem;
}
.editbtn{
  width: fit-content;
  border-color: #000000;
  margin: 0.5rem;
}
.editbtn:hover{
  background-color: #ffffff60;
}
.textArea{
  margin-bottom: 1rem;
}
.editStatus{
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 30rem;
}
select{
  width: 10rem;
  margin: 1rem;
  border: none;
  border-bottom: #EEEEEE solid 2px;
  background-color: #ffffff60;
  margin-top: 0.5rem;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 1rem;
}
.footer{
  bottom: 0;
  padding: 0.5rem;
  color: #FFFFFF;
  font-size: 0.9rem;
  justify-content: center;
  margin-top: 5rem;
}
.task{
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
  margin: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #eeeeee36;
  width: 20vw;
}
p{
  margin:0.2rem;
}
.task:hover{
  background-color: #373A40;
}
.taskHeader{
  display: flex;
  justify-content: space-between;
}
.deadline{
  margin-top: 0.5rem;
  color: #000000;
  text-decoration:underline ;
}
.icon,.addIcon{
  width: 20px;
  height: 20px;
}
.loader {
  margin-top: 1rem;
  border: 16px solid #EEEEEE; 
  border-top: 16px solid #F8C794; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
.notification{
  color: black;
  background-color: rgba(121, 112, 112, 0.404);
  margin-top: 1rem;
  padding:1rem ;
  border-radius: 10px;
}
.editTaskInput{
  width: 18rem;
}
.header{
  background-color: #eeeeee36;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #EEEEEE;

}
.field{
  border: 2px solid rgba(64, 62, 62, 0.489);
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.pending{
  background-color: #c3493150;
  padding: 1rem;
  font-size:medium;
  color: #FFFFFF;
}

.newTaskBtn{
  border: none;
  font-size:medium;
  font-weight: 1000;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  color: #31ff38;
}
.addIcon{
  margin-right: 0.5rem;
}
.newTaskBtn:hover{
  transform: scale(0.9);
  background-color: transparent;

}
.taskDes{
  font-size: 0.8rem;
}
.status{
  margin-right: 0.2rem;
  height: 28px;
  width: 28px;
}
.logoText{
  margin-left: 3rem;
}
.done{
  background-color: #16721b50;
  padding: 1rem;
  color: #FFFFFF;
}
#loader{
  width: 100px;
  height: 100px;
  position:absolute;
  top: 7rem;
}
.archived{
  background-color: #3469ba50;
  padding: 1rem;
  color: #FFFFFF;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (max-width: 768px) {
  .mainContainer{
      width: 70vw;
      height: fit-content;
  }
  .header{
    font-size: 0.8rem;
  }
  .signOut{
    font-size: 1rem;
  }
  .inputField{
      width: fit-content;
  }
  .editTaskInput{
    width: 12rem;
  }
  .task{
    box-shadow: none;
    border-radius: 10px;
    font-size: 1rem;
    width: 60vw;
    margin: 1rem;
    height: fit-content;
    font-size: 1rem;
  }
  .dashboard{
    flex-direction: column;
    align-items: center;
    width: 85vw;
  }
  h1{
      font-size: 1rem;
  }
  .logo{
      width: 2rem;
  }
  .footer{
      margin-top: 3rem;
      font-size: 0.5rem;
  }
}

